.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .logo_box {
    width: 85%;
    height: 50%;
    margin-top: 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    gap: 10%;

    .logo_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
    }


    p {
      text-align: center;
      color: #704CB8;
      font-size: 20px;
    }
  }

  button {
    width: 85%;
    height: 10%;
    border-radius: 30px;
    border: 5px solid #704CB8;
    background: #FFF;
    color: #704CB8;
    font-size: 30px;
  }

  .main_logo {
    width: 40%;
    margin-bottom: 7%;
  }
}