.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .logo_box {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
  }

  .user_box {
    width: 90%;
    display: flex;
    justify-content: space-between;

    .user_picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: rgba(121, 116, 116, 0.60);
    }

    .user_info {
      position: relative;
      width: 50%;
      border-radius: 30px;
      border: 5px solid #EF9949;
      background: #FFF;
      padding: 6%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input {
        width: 100%;
        border: none;
        border-bottom: 2px solid #C2B1B1;
      }

      img {
        cursor: pointer;
        position: absolute;
        top: 19px;
        right: 22px;
      }
    }
  }

  .hobbies_box {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;

    h3 {
      color: #797474;
      font-size: 22px;
    }

    input {
      align-self: center;
      padding-left: 30px;
      font-size: 40px;
      width: 90%;
      height: 70%;
      border-radius: 30px;
      border: 5px solid #EF9949;
      background: #FFF;
    }
  }

  .interests_box {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;

    h3 {
      color: #797474;
      font-size: 22px;
    }

    input {
      align-self: center;
      padding-left: 30px;
      font-size: 40px;
      width: 90%;
      height: 70%;
      border-radius: 30px;
      border: 5px solid #EF9949;
      background: #FFF;
    }
  }

  .save_btn {
    cursor: pointer;
    width: 164px;
    height: 52px;
    border-radius: 30px;
    background: #EF9949;
    border: none;
    color: #FFF;
    font-size: 27px;
    margin-bottom: 7%;
  }
}