.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .logo_box {
    width: 90%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h2 {
    color: #704CB8;
    font-size: 40px;
    margin-bottom: 5%;
  }

  .filter_box {
    position: relative;
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6%;
    margin-bottom: 25%;

    ul {
      background-color: #FFF;
      width: 268px;
      height: 54px;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-around;
      border-radius: 30px;

      .active {
        background-color: #704CB8;
        color: #FFF;
      }

      li {
        cursor: pointer;
        border: 1px solid #704CB8;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 18px;
        color: #000;
        font-weight: 400;

        &:first-child {
          border-right: none;
          border-radius: 30px 0 0 30px;
        }

        &:last-child {
          border-radius: 0 30px 30px 0;
        }
      }

      input {
        border: none;
        background-color: #704CB8;
        color: #FFF;
        text-align: center;
        width: 20%;
        height: 100%;
        border-radius: 0 30px 30px 0;
        font-size: 18px;
        font-weight: 400;

        &::placeholder {
          color: #FFF;
        }
      }

      .timeInput {
        border: 1px solid #704CB8;
        background-color: #FFF;
        color: #000;
        border-radius: 30px;
        width: 100%;
        height: 100%;

        &::placeholder {
          color: black;
        }
      }
    }

    .more_box {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      bottom: -15%;
      border-bottom: 1px solid #797474;
  
      p {
        color: #797474;
      }
    }
  }


  button {
    padding: 5% 10% 5% 10%;
    cursor: pointer;
    border-radius: 30px;
    background: #704CB8;
    box-shadow: 5px 10px 4px 0px rgba(0, 0, 0, 0.25);

    color: #FFF;
    font-size: 30px;

    &:active {
      margin-top: 4px;
      margin-left: 2px;
      box-shadow: 1px 3px 1px 0px rgba(0, 0, 0, 1);
    }

  }

  .tapToGenerate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 25%;
  }
}